<ion-header>
  <ion-toolbar>
    <ion-title>verify-email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>Gracias por registrarte!</h2>
      <p>Enviamos un correo de confirmación a tu <strong>Correo Electronico</strong></p>
      <p>Por favor verifica tu correo y haz click en el enlace para verificar tu dirección
        de correo electronico
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="onSendEmail()">Reenviar correo de verificación</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button routerLink="/login">Continuar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
