<ion-header>
  <ion-toolbar>
    <ion-row >
      <ion-col  id="col-encabezado" color="#6bad4a">
        <ion-list id="list-encabezado" color="##6bad4a">
          <ion-item id="item-encabezado" color="#6bad4a">
            <a id="flecha-regreso" href="main/tabs/tab1"><ion-icon id="flecha-regreso" name="arrow-back-outline"></ion-icon></a>
            <ion-title>Sucursales</ion-title>
            <ion-icon id="icono-ayuda" name="help-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  
    <ion-row>
      <ion-col>
        <hr>
      </ion-col>
    </ion-row>
  
    
  
    <ion-row>
      <ion-col>
        <ion-list *ngFor="let sucursal of sucursales">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="promo-photo" [src]="sucursal.photo"/>
            </ion-thumbnail>
            <h5>{{sucursal.sucursal}}</h5>
          </ion-item>
          <ion-item>
            <ion-icon name="location-sharp" slot="start" color="black"></ion-icon>
            <p>
              
              {{sucursal.calle}} {{sucursal.numero}} {{sucursal.colonia}} {{sucursal.estado}}
            </p>
              
          </ion-item>
          <ion-item>
            <ion-icon name="call" slot="start" color="black"></ion-icon>
            <ion-label>
              {{sucursal.tel}}
            </ion-label>
            <ion-button slot="end" href="main/tabs/servicios">
              Agendar Cita
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
   </ion-grid>

</ion-content>
