//Encabezado
#col-encabezado, #list-encabezado, #item-encabezado{
    background-color: #01366aff;
}
#flecha-regreso, #icono-ayuda, ion-title{
    color: white;
}
//Botoners google y facebook

#boton-google{
    background-color: #ffff;
    color: #01366aff;
    font-weight: bold;
    margin: 5px;
}
//Iconos
img{
    margin-left: 5px;
}
#icono-google{
    margin-left: 25px;
}
