<ion-content>
  <form>
    <ion-grid fixed>
      <ion-row id="titulo" class="ion-justify-content-center">
        <ion-col size="10">
          <h1>¡Registrate y disfruta de
            <br>nuestros servicios!</h1>
        </ion-col>
      </ion-row>
    
      <ion-row id="name" class="ion-justify-content-center">
        <ion-col size="9">
          <ion-input name="name" type="text" [(ngModel)]="newUser.name" required placeholder="Nombre"></ion-input>
        </ion-col>
      </ion-row>
    
      <ion-row id="email" class="ion-justify-content-center">
        <ion-col size="9">
          <ion-input name="email" type="email" [(ngModel)]="newUser.email" required placeholder="Correo"></ion-input>
        </ion-col>
      </ion-row>
    
      <ion-row id="password" class="ion-justify-content-center">
        <ion-col size="9">
          <ion-input name="password" type="password" [(ngModel)]="newUser.password" required placeholder="Contraseña"></ion-input>
        </ion-col>
      </ion-row>
<!--(click)="registrarse()"-->
      <ion-row class="ion-justify-content-center">
        <ion-col size="9">
          <ion-button id="Crear-cuenta" color="#01366aff" 
           type="submit" (click)="onRegister()"
          expand="block">
            Crear Cuenta
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col id="Enlace" size="10">
          <p>¿Ya tienes una cuenta?<a routerLink="/login">Inicia Sesión aquí</a></p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <hr>
        </ion-col>
      </ion-row>
<!--(click)="onLoginGoogle(email, password)"-->
    </ion-grid>
  </form>
</ion-content>