//Titulo
#titulo{
    margin-top: 60px;
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #01366aff;
}
//inputs
#email, #password, #name{
    height: 50px;
}
#name{
    margin-top: 50px;
}
#email{
    margin-top: 20px;
}
#password{
    margin-top: 20px;
}
//Boton
ion-button{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 50px;
}
#Crear-cuenta{
    background-color: #01366aff;
}

ion-input{
    height: 50px;
    background-color: #dfe3e8;
    font-weight: bold;
}
//Enlace
#Enlace{
    padding: 2px;
    height: 50px;
}
p, a{
    font-size: 16px;
    color: #d66603e8;
}
a{
    margin-left: 5px;
    font-weight: bold;
}
//Linea
hr{
    border-top: 4px solid #d66603e8;
    height: 2px;
    max-width: 309px;
    padding: 0;
    margin: 3px auto 0 auto;
    border-radius: 5%;
  }
//Botoners google y facebook

#boton-google, #boton-facebook{
    background-color: #ffff;
    color: #01366aff;
    font-weight: bold;
    margin: 5px;
}
//Iconos
img{
    margin-left: 5px;
}
#icono-google{
    margin-left: 25px;
}
#icono-facebook{
    margin-left: 7px;
}

