//Logo de VETFarrera
#logo{
    margin-top: 200px;
    margin-bottom: 30px;
}
img{
    border-radius: 6%;
}

//Botones 
ion-button{
    width: 100%;
    height: 50px;
}
#Iniciar-sesion{
    background-color: #d66603e8;
}
#Crear-cuenta{
    background-color: #01366aff;
}


//Redes sociales
#facebook{
    margin-top: 150px;
}
p{
    margin-left: 7px;
    font-size: 14px;
}