<ion-content>
  <form>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col id="logo" size="6">
          <img src="../../../assets/images/logo.png" alt="Logo">
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-button id="Crear-cuenta" color="#01366aff" routerLink="/sing-up">
            Crear Cuenta
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-button id="Iniciar-sesion"  color="#d66603e8" routerLink="/login">
            Iniciar Sesión
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col id="facebook" size="9">
          <ion-list>
            <ion-item>
              <img src="../../../assets/images/LogoFaceBook.png" width="30px" height="30px">
              <p>VET Farrera MTY / VET Farrera</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
