<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <a href="sing-up"><ion-icon name="arrow-back-outline"></ion-icon></a>
            <ion-title>
              Recuperar Contraseña
            </ion-title>
            <ion-icon name="help-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid fixed>
      <ion-row id="titulo" class="ion-justify-content-center">
        <ion-col size="10">
          <h1>¡Inicia Sesión
            <br>para poder continuar!
          </h1>
        </ion-col>
      </ion-row>
  
      <ion-row id="email" class="ion-justify-content-center">
        <ion-col size="9">
          <ion-input name="email" type="email" #email required placeholder="Correo"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-button id="Recuperar-Contraseña" color="#d66603e8" 
        type="submit" (click)="onResetPassword(email)"
        expand="block">
          Recuperar Contraseña
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
