//Titulo
#titulo{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #01366aff;
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #d66603e8;
}
//inputs
#email{
    height: 50px;
}
#email{
    margin-top: 50px;
}
ion-input{
    height: 50px;
    background-color: #dfe3e8;
    font-weight: bold;
}
//Boton
ion-button{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 50px;
}
#Recuperar-Contraseña{
    background-color: #d66603e8;
}